.author-info img{
    width: 300px;
    height: 300px;
}

.author-info{
    border-right: 1px solid #B9C6CE;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.author-info .name{
    margin-top: 20px;
    font-size: 21px;
}

.author-info .description{
    width: 80%;
    margin-top: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #B9C6CE;
    text-align: center;
}

.author-info .options{
    width: 55%;
}

.notification-dont-have-book{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-books{
    height: 100%;
    width: 100%;
}

.notification-dont-have-book  h1{
    color: #B9C6CE;
    font-size: 30px;
}

.top-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 29px;
    justify-content: space-between;
}

.top-list h1{
    margin: 0px;
}