@import url('../node_modules/notyf/notyf.min.css');

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url(./assets/fonts/Nunito-Regular.ttf)format('ttf');
}

html{
  font-family: 'Nunito', sans-serif;
  color: #4A4A4A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 29px;
  justify-content: space-between;
}

.top-list h1{
  margin: 0px;
}
